{% extends "base.html" %}
{% block title %}
	Оборатная связь
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <h3>Форма обратной связи</h3>
    <form action="" method="post" name="form">
        <input name="name" type="text" placeholder="Ваше имя" /><br><br>
        <input name="email" type="text" placeholder="Ваша почта" /> <br><br>
        <input size="30" name="header" type="text" placeholder="Тема" /> <br><br>
        <textarea cols="32" name="message" rows="5"></textarea> <br><br>
        <input type="submit" value="Отправить" /><br><br>
    </form>
{% endblock %}
{% block basement %}
	{% include "inc-basement.html" %}
{% endblock %}