{% extends "base.html" %}
{% block title %}
	Стрелковый клуб "Выстрел"
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    Добро пожаловать на наш сайт, {{username}}!<br>
	<div>
		<a href="/category-new/">Создать новую категорию</a>
	</div>
	<div>
		<h1>Список существующих тренировок</h1>
		<ol type="1">
			{% for item in objects_list %}
				<li>
					{{item.name}} <span>Количество групп: {{item.course_count()}}</span>
					<a href="/course-list/?id={{item.id}}">Показать группы</a>
				</li>
			{% endfor %}
			<br>
			<li>
				<a href="/student-list/">Список студентов</a>
			</li>
			<li>
				<a href="/create-student/">Создать студента</a>
			</li>
			<li>
				<a href="/add-student/">Добавить студента на курс</a>
			</li>
		</ol>
	</div>
{% endblock %}
{% block basement %}
	{% include "inc-basement.html" %}
{% endblock %}