{% extends "base.html" %}
{% block title %}
	Расписание занятий
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <table>
        <tr class="head">
            <th>Дисциплина</th>
            <th>Класс</th>
            <th>Дата следующего занятия</th>
            <th>Место проведения</th>
        </tr>
        <tr>
            <td>Carbine</td>
            <td>Open</td>
            <td>21.06.21</td>
            <td>Галерея №4</td>
        </tr>
        <tr>
            <td>Shotgun</td>
            <td>Open</td>
            <td>21.06.21</td>
            <td>Галерея №3</td>
        </tr>
        <tr>
            <td>Shotgun</td>
            <td>Manual</td>
            <td>22.06.21</td>
            <td>Галерея №3</td>
        </tr>
        <tr>
            <td>Pistol</td>
            <td>Production</td>
            <td>22.06.21</td>
            <td>Галерея №4</td>
        </tr>
    </table>
{% endblock %}
{% block basement %}
	{% include "inc-basement.html" %}
{% endblock %}